body{
  margin: auto;
  text-align: center;
  width: 100%;
  justify-content: center;
}


.main{
  align-items: center;
  padding: 15%;
  background-color: white;
}

.main_table{
  width: 100%;
  border-collapse: collapse;
}

.main_table td{ 
  width: 25%;
  padding: 10px;
  border-collapse: collapse;
  border-right: 2px solid darkblue;
}

.main_table td:last-child{
  border-right: 0;
}

.main_table_title{
  font-weight: 500;
  font-size: 30px;
}


.main_table_items{
  color: darkgray;
  font-size: 18px;
}

.main_text{
  font-size: 40px;
  font-weight: 500;
  line-height: 2;
}
.main_text2{
  font-size: 100px;
  font-weight:900;
  padding-bottom: 90px;
}

.solution{
  padding: 40px;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 5px;
  background-image: linear-gradient(to right top, rgb(0, 61, 122), rgb(0, 160, 168));
  color: white;
}

.Solution-button-prev::after,
.Solution-button-next::after{
    content: "";
    display: none;
}


.Solution-button-prev,
.Solution-button-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 45%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Solution-button-prev {
  left: 10px;
}
.Solution-button-next {
  right: 10px;
}


.middle_title{
  padding: 5%;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 5px;
  color: darkblue;
}

.academy_text{
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.academy_text > span {
  font-weight: bold;
}

.card{
  background-color: white;
  width: 380px;
  height: 500px;
  text-align: left;
  margin: 5%;
  border-radius: 5%;
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.2);
  display: inline-block;
  overflow: hidden;
}

.card h2{
  padding: 25px;
  color: rgb(59, 59, 224);
  font-size: 25px;
  font-weight: bold;
}

.card p{
  padding: 15px;
  font-weight: 300;
  height: 50%;
  font-size: 20px;
}

.book-section{
  background-color: #f4f7ff;
  height: 700px;
}

.swiper {
    top:5%;
    width: 80%;
    height: 400px;
    position: relative;
}
  
.swiper .swiper-slide {
  height: max-content;
  font-size: 18px;
  font-weight: bold;
  padding-right: 10px;
}


.material-icons {
  font-size: 30px;
  color: black;
}

  
.swiper-button-prev::after,
.swiper-button-next::after{
  content: "";
  display: none;
}
  
  
.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  z-index: 3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev {
  left: 10px;
}
.swiper-button-next {
  right: 10px;
}

nav{
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: azure;
  z-index: 2;
}

.navMenu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.main_logo{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  
}

.main_logo img{
  width: 100%;

}


.menu {
  display: flex;
  font: bold 16px;
  width: 60%;
  color: black;
  z-index: 2;
  justify-content: flex-end;

}

.menuUrl {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.semiTitle {
  float: left;
  width: fit-content;
  padding-right: 20px;
  align-items: center;
  list-style: none;
  
}

.semiTitleDetail {
  width: 200px;
  display: none;
  position: absolute;
  font-size: 14px;

  background: skyblue;
}

.semiTitle:hover > ul {
  display: block;
  z-index: 3;
}

.semiTitleDetail > li:hover {
  background-color: orange;
  transition: ease ls;
}

.clientsSwiper > .swiper-wrapper > .swiper-slide > img{
  width: 15%;
  padding: 3px;
}

.clientsSwiper{

  padding-bottom: 100px;
}

footer{
  padding-top: 50px;
  padding-left: 150px;
  padding-bottom: 20px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.03);

}

footer p {
  padding-bottom: 30px;
  align-items: center;

}

footer div:first-child{
  padding-bottom: 40px;
}

footer div {
  padding-bottom: 20px;
  font-size: large;
  line-height: 30px;
  letter-spacing: 1px;
}

footer span{
  font-weight: 700;
}

.logo{
  padding-right: 20px;
  width: 25%;
}

footer p:last-child{
  padding-bottom: 0px;
}

.copyright{
  font-weight: normal;
  word-spacing: 0px;
  letter-spacing: 0px;
  padding-left: 100px;
}

.address{
  word-spacing: 0px;
}

.footer__sns_img{
  width: 30px;
}

.footer__ {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.footer__company{
  padding: 0;
}

.footer__sns{
  display: flex;
  flex-direction: row;
  padding-right: 20%;
  
}

.footer__sns img{
  padding: 2px;
}